In [1]:
# 数据处理工具
import pandas as pd
import numpy as np
import random as rnd
from collections import Counter
import utils

# 可视化工具
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


column_base = ['uid', 'age', 'gender', 'marriageStatus', 'education', 'consumptionAbility',
               'LBS', 'ct', 'os', 'carrier', 'house']
column_embedding = ['uid', 'interest1', 'interest2', 'interest3', 'interest4', 'interest5',
                    'kw1', 'kw2', 'kw3',
                    'topic1', 'topic2', 'topic3',
                    'appIdInstall', 'appIdAction']

In [2]:
user_feature_embedding_int = pd.read_csv('data/user_feature_embedding_int.csv')

In [3]:
added_int2 = utils.add_base_for_all(user_feature_embedding_int['interest2'], 200)
added_int3 = utils.add_base_for_all(user_feature_embedding_int['interest3'], 300)

In [6]:
added_int4 = utils.add_base_for_all(user_feature_embedding_int['interest4'], 400)
added_int5 = utils.add_base_for_all(user_feature_embedding_int['interest5'], 500)

progress: 100%

progress: 100%

In [8]:
user_feature_embedding_int['interest2'] = added_int2 
user_feature_embedding_int['interest3'] = added_int3 
user_feature_embedding_int['interest4'] = added_int4 
user_feature_embedding_int['interest5'] = added_int5 
user_feature_embedding_int.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>uid</th>
      <th>interest1</th>
      <th>interest2</th>
      <th>interest3</th>
      <th>interest4</th>
      <th>interest5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>26325489</td>
      <td>93-70-77-86-109-47-75-69-45-8-29-49-83-6-46-36...</td>
      <td>246-219-213-229</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>552-600-572-631-616-511-571-512-508-613-528-57...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1184123</td>
      <td>75-29</td>
      <td>233</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>76072711</td>
      <td>70-12-28-106-59-49-41-6-42-115-35-116-36-11-96</td>
      <td>251-222-279-281-270-206-221-204-241-235</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>577-572-580-616-601-513-501-609-508-550-506-54...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>63071413</td>
      <td>93-70-77-47-76-75-69-29-59-49-122-42-46-23-17-...</td>
      <td>224-270-219-213-230-210</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>600-580-592-537-616-513-547-504-571-508-550-52...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>81294159</td>
      <td>75-29-49-122-36-11</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>631-616-513-508-506-632-542-509-559-518-558-56...</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>26419924</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>3467967</td>
      <td>70-76-106-36-11</td>
      <td>224-230</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>552-572-631-537-547-579-571-508-613-550-516-50...</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>54125482</td>
      <td>93-70-77-47-75-69-29-49-27-6-53-19-46-56-36-11...</td>
      <td>209-221</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>572-592-616-513-547-578-571-508-530-550-528-50...</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>29339838</td>
      <td>93-70-118-109-1-76-69-102-28-8-59-49-6-18-39-4...</td>
      <td>247-273-253-246-204-248-229</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>600-572-529-528-520-546</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>3741280</td>
      <td>70-76</td>
      <td>247-231-232-244</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>577-600-572-592-616-547-609-508-550-586-528-50...</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
user_feature_embedding_int12 = utils.merge_feature(user_feature_embedding_int, 'interest1', 'interest2')
user_feature_embedding_int123 = utils.merge_feature(user_feature_embedding_int12, 'interest1interest2', 'interest3')

progress: 100%

progress: 100%

In [22]:
user_feature_embedding_int1234 = utils.merge_feature(user_feature_embedding_int123, 
                                                     'interest1interest2interest3', 'interest4')
user_feature_embedding_int12345 = utils.merge_feature(user_feature_embedding_int1234, 
                                                      'interest1interest2interest3interest4', 'interest5')

progress: 100%

progress: 100%

In [23]:
user_feature_embedding_int12345.rename(columns={'interest1interest2interest3interest4interest5': 'interest'}, inplace=True)

In [26]:
user_feature_embedding_int.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>uid</th>
      <th>interest1</th>
      <th>interest2</th>
      <th>interest3</th>
      <th>interest4</th>
      <th>interest5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11420034</th>
      <td>11420034</td>
      <td>7613183</td>
      <td>77-46</td>
      <td>270-254</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420035</th>
      <td>11420035</td>
      <td>44380874</td>
      <td>70-76</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420036</th>
      <td>11420036</td>
      <td>23288734</td>
      <td>93-70-77-86-12-47-75-29-49-72-46-112-36-11-76-...</td>
      <td>224-221-230</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>600-572-580-592-537-616-513-501-571-609-508-55...</td>
    </tr>
    <tr>
      <th>11420037</th>
      <td>11420037</td>
      <td>17482116</td>
      <td>93-70-28-49-15-18-73-46-113-36-11-90</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420038</th>
      <td>11420038</td>
      <td>46849102</td>
      <td>70-37-12-100-76-75-29-46-88-36-11</td>
      <td>279-206</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>572-631-537-511-579-508-569-506-542-546-574-564</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
user_feature_embedding_int12345.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>uid</th>
      <th>interest</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11420034</th>
      <td>11420034</td>
      <td>7613183</td>
      <td>77-46-270-254</td>
    </tr>
    <tr>
      <th>11420035</th>
      <td>11420035</td>
      <td>44380874</td>
      <td>70-76</td>
    </tr>
    <tr>
      <th>11420036</th>
      <td>11420036</td>
      <td>23288734</td>
      <td>93-70-77-86-12-47-75-29-49-72-46-112-36-11-76-...</td>
    </tr>
    <tr>
      <th>11420037</th>
      <td>11420037</td>
      <td>17482116</td>
      <td>93-70-28-49-15-18-73-46-113-36-11-90</td>
    </tr>
    <tr>
      <th>11420038</th>
      <td>11420038</td>
      <td>46849102</td>
      <td>70-37-12-100-76-75-29-46-88-36-11-279-206-572-...</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
user_feature_embedding_int12345.to_csv('data/user_feature_embedding_int_merged.csv', columns=['uid', 'interest'], index=False)

加载kw并合并

In [30]:
user_feature_embedding_kw = pd.read_csv('data/user_feature_embedding_kw.csv')

In [32]:
added_kw2 = utils.add_base_for_all(user_feature_embedding_kw['kw2'], 800000)
added_kw3 = utils.add_base_for_all(user_feature_embedding_kw['kw3'], 930000)

progress: 100%

progress: 100%

In [36]:
user_feature_embedding_kw['kw2'] = added_kw2 
user_feature_embedding_kw['kw3'] = added_kw3 
user_feature_embedding_kw.tail(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>uid</th>
      <th>kw1</th>
      <th>kw2</th>
      <th>kw3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11420029</th>
      <td>11420029</td>
      <td>71132967</td>
      <td>710106-403248-760335-184197-529100</td>
      <td>890202-881211-822863-841919-895597</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420030</th>
      <td>11420030</td>
      <td>26696723</td>
      <td>412838-732675-290900-149555-274523</td>
      <td>829946-808125-894407-821446-807014</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420031</th>
      <td>11420031</td>
      <td>5568914</td>
      <td>589299-502673-661739-367799-623073</td>
      <td>811395-879112-905115-819826-805827</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420032</th>
      <td>11420032</td>
      <td>23358525</td>
      <td>NaN</td>
      <td>843977-917462-855952-826484-876242</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420033</th>
      <td>11420033</td>
      <td>56878126</td>
      <td>268355-600132-341021-375558-396935</td>
      <td>812518-806918-844999-856399-906104</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420034</th>
      <td>11420034</td>
      <td>7613183</td>
      <td>NaN</td>
      <td>852715-885039-801664-897701-893916</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420035</th>
      <td>11420035</td>
      <td>44380874</td>
      <td>605930-8561-387429</td>
      <td>811395-879112-887384-881211-888239</td>
      <td>966983-974157-981317-962080-962707</td>
    </tr>
    <tr>
      <th>11420036</th>
      <td>11420036</td>
      <td>23288734</td>
      <td>468512-559980-298850-391804-690140</td>
      <td>859389-801218-815329-915199-844840</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420037</th>
      <td>11420037</td>
      <td>17482116</td>
      <td>572255-138832-565894-716811-621765</td>
      <td>882538</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420038</th>
      <td>11420038</td>
      <td>46849102</td>
      <td>267586-411375-16567-279516-285713</td>
      <td>861483-817460-817892-820148-909981</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [37]:
user_feature_embedding_kw12 = utils.merge_feature(user_feature_embedding_kw, 'kw1', 'kw2')
user_feature_embedding_kw123 = utils.merge_feature(user_feature_embedding_kw12, 'kw1kw2', 'kw3')

progress: 100%

progress: 100%

In [38]:
user_feature_embedding_kw123.rename(columns={'kw1kw2kw3': 'kw'}, inplace=True)
user_feature_embedding_kw123.tail(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>uid</th>
      <th>kw</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11420029</th>
      <td>11420029</td>
      <td>71132967</td>
      <td>710106-403248-760335-184197-529100-890202-8812...</td>
    </tr>
    <tr>
      <th>11420030</th>
      <td>11420030</td>
      <td>26696723</td>
      <td>412838-732675-290900-149555-274523-829946-8081...</td>
    </tr>
    <tr>
      <th>11420031</th>
      <td>11420031</td>
      <td>5568914</td>
      <td>589299-502673-661739-367799-623073-811395-8791...</td>
    </tr>
    <tr>
      <th>11420032</th>
      <td>11420032</td>
      <td>23358525</td>
      <td>843977-917462-855952-826484-876242</td>
    </tr>
    <tr>
      <th>11420033</th>
      <td>11420033</td>
      <td>56878126</td>
      <td>268355-600132-341021-375558-396935-812518-8069...</td>
    </tr>
    <tr>
      <th>11420034</th>
      <td>11420034</td>
      <td>7613183</td>
      <td>852715-885039-801664-897701-893916</td>
    </tr>
    <tr>
      <th>11420035</th>
      <td>11420035</td>
      <td>44380874</td>
      <td>605930-8561-387429-811395-879112-887384-881211...</td>
    </tr>
    <tr>
      <th>11420036</th>
      <td>11420036</td>
      <td>23288734</td>
      <td>468512-559980-298850-391804-690140-859389-8012...</td>
    </tr>
    <tr>
      <th>11420037</th>
      <td>11420037</td>
      <td>17482116</td>
      <td>572255-138832-565894-716811-621765-882538</td>
    </tr>
    <tr>
      <th>11420038</th>
      <td>11420038</td>
      <td>46849102</td>
      <td>267586-411375-16567-279516-285713-861483-81746...</td>
    </tr>
  </tbody>
</table>
</div>

In [40]:
user_feature_embedding_kw123.to_csv('data/user_feature_embedding_kw_merged.csv', columns=['uid', 'kw'], index=False)

加载topic并合并

In [41]:
user_feature_embedding_to = pd.read_csv('data/user_feature_embedding_to.csv')

In [43]:
added_to2 = utils.add_base_for_all(user_feature_embedding_to['topic2'], 10000)
added_to3 = utils.add_base_for_all(user_feature_embedding_to['topic3'], 20000)

progress: 100%

progress: 100%

In [45]:
user_feature_embedding_to['topic2'] = added_to2 
user_feature_embedding_to['topic3'] = added_to3 
user_feature_embedding_to.tail(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>uid</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11420029</th>
      <td>11420029</td>
      <td>71132967</td>
      <td>6687-7829-3450-1407-6578</td>
      <td>10235-18318-10026-10097-15782</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420030</th>
      <td>11420030</td>
      <td>26696723</td>
      <td>644-6586-8525-2638-4367</td>
      <td>15298-15810-10412-14677-13393</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420031</th>
      <td>11420031</td>
      <td>5568914</td>
      <td>8783-4264-4466-6216-142</td>
      <td>11094-10282-12902-15188-17366</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420032</th>
      <td>11420032</td>
      <td>23358525</td>
      <td>NaN</td>
      <td>16619-15954-12386-19412-18893</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420033</th>
      <td>11420033</td>
      <td>56878126</td>
      <td>6579-9826-7113-244-8460</td>
      <td>18655-14431-16477-17389-13270</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420034</th>
      <td>11420034</td>
      <td>7613183</td>
      <td>50-2293-39-714-7688</td>
      <td>16500-10263-11400-10895-12826</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420035</th>
      <td>11420035</td>
      <td>44380874</td>
      <td>6096-4164-4783-2958-2136</td>
      <td>15271-10026-17079-19533-10203</td>
      <td>23800-23783-21845-21110-28621</td>
    </tr>
    <tr>
      <th>11420036</th>
      <td>11420036</td>
      <td>23288734</td>
      <td>9826-3039-3459-523-2535</td>
      <td>15641-17571-12537-18402-15457</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420037</th>
      <td>11420037</td>
      <td>17482116</td>
      <td>1557-4257-5029-6584-6896</td>
      <td>10814-14194-14857-17331-14746</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420038</th>
      <td>11420038</td>
      <td>46849102</td>
      <td>7254-1661-5309-8575-6115</td>
      <td>15199-13373-16431-11833-18494</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [46]:
user_feature_embedding_to12 = utils.merge_feature(user_feature_embedding_to, 'topic1', 'topic2')
user_feature_embedding_to123 = utils.merge_feature(user_feature_embedding_to12, 'topic1topic2', 'topic3')

progress: 100%

progress: 100%

In [47]:
user_feature_embedding_to123.rename(columns={'topic1topic2topic3': 'topic'}, inplace=True)
user_feature_embedding_to123.tail(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>uid</th>
      <th>topic</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11420029</th>
      <td>11420029</td>
      <td>71132967</td>
      <td>6687-7829-3450-1407-6578-10235-18318-10026-100...</td>
    </tr>
    <tr>
      <th>11420030</th>
      <td>11420030</td>
      <td>26696723</td>
      <td>644-6586-8525-2638-4367-15298-15810-10412-1467...</td>
    </tr>
    <tr>
      <th>11420031</th>
      <td>11420031</td>
      <td>5568914</td>
      <td>8783-4264-4466-6216-142-11094-10282-12902-1518...</td>
    </tr>
    <tr>
      <th>11420032</th>
      <td>11420032</td>
      <td>23358525</td>
      <td>16619-15954-12386-19412-18893</td>
    </tr>
    <tr>
      <th>11420033</th>
      <td>11420033</td>
      <td>56878126</td>
      <td>6579-9826-7113-244-8460-18655-14431-16477-1738...</td>
    </tr>
    <tr>
      <th>11420034</th>
      <td>11420034</td>
      <td>7613183</td>
      <td>50-2293-39-714-7688-16500-10263-11400-10895-12826</td>
    </tr>
    <tr>
      <th>11420035</th>
      <td>11420035</td>
      <td>44380874</td>
      <td>6096-4164-4783-2958-2136-15271-10026-17079-195...</td>
    </tr>
    <tr>
      <th>11420036</th>
      <td>11420036</td>
      <td>23288734</td>
      <td>9826-3039-3459-523-2535-15641-17571-12537-1840...</td>
    </tr>
    <tr>
      <th>11420037</th>
      <td>11420037</td>
      <td>17482116</td>
      <td>1557-4257-5029-6584-6896-10814-14194-14857-173...</td>
    </tr>
    <tr>
      <th>11420038</th>
      <td>11420038</td>
      <td>46849102</td>
      <td>7254-1661-5309-8575-6115-15199-13373-16431-118...</td>
    </tr>
  </tbody>
</table>
</div>

In [48]:
user_feature_embedding_to123.to_csv('data/user_feature_embedding_to_merged.csv', columns=['uid', 'topic'], index=False)

加载app并合并

In [50]:
user_feature_embedding_app = pd.read_csv('data/user_feature_embedding_app.csv')

In [51]:
added_app2 = utils.add_base_for_all(user_feature_embedding_app['appIdAction'], 70000)

progress: 100%

In [57]:
user_feature_embedding_app['appIdAction'] = added_app2 
user_feature_embedding_app.tail(100)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>uid</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11419939</th>
      <td>11419939</td>
      <td>43212985</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419940</th>
      <td>11419940</td>
      <td>80714503</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419941</th>
      <td>11419941</td>
      <td>17534046</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419942</th>
      <td>11419942</td>
      <td>79141155</td>
      <td>NaN</td>
      <td>74681-70908-74041-71171-72602</td>
    </tr>
    <tr>
      <th>11419943</th>
      <td>11419943</td>
      <td>78087196</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419944</th>
      <td>11419944</td>
      <td>26012499</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419945</th>
      <td>11419945</td>
      <td>1273858</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419946</th>
      <td>11419946</td>
      <td>70184616</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419947</th>
      <td>11419947</td>
      <td>66381083</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419948</th>
      <td>11419948</td>
      <td>30848295</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419949</th>
      <td>11419949</td>
      <td>76033050</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419950</th>
      <td>11419950</td>
      <td>13260048</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419951</th>
      <td>11419951</td>
      <td>65129150</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419952</th>
      <td>11419952</td>
      <td>40248494</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419953</th>
      <td>11419953</td>
      <td>40013010</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419954</th>
      <td>11419954</td>
      <td>39927335</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419955</th>
      <td>11419955</td>
      <td>8818950</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419956</th>
      <td>11419956</td>
      <td>20046695</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419957</th>
      <td>11419957</td>
      <td>40465124</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419958</th>
      <td>11419958</td>
      <td>82216450</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419959</th>
      <td>11419959</td>
      <td>58909377</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419960</th>
      <td>11419960</td>
      <td>33920817</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419961</th>
      <td>11419961</td>
      <td>72361689</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419962</th>
      <td>11419962</td>
      <td>63387476</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419963</th>
      <td>11419963</td>
      <td>59771828</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419964</th>
      <td>11419964</td>
      <td>2160033</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419965</th>
      <td>11419965</td>
      <td>52908781</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419966</th>
      <td>11419966</td>
      <td>73491522</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419967</th>
      <td>11419967</td>
      <td>746554</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11419968</th>
      <td>11419968</td>
      <td>71792318</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>11420009</th>
      <td>11420009</td>
      <td>28766696</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420010</th>
      <td>11420010</td>
      <td>9379016</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420011</th>
      <td>11420011</td>
      <td>36778060</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420012</th>
      <td>11420012</td>
      <td>65477341</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420013</th>
      <td>11420013</td>
      <td>62071751</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420014</th>
      <td>11420014</td>
      <td>23875871</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420015</th>
      <td>11420015</td>
      <td>72482685</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420016</th>
      <td>11420016</td>
      <td>49633124</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420017</th>
      <td>11420017</td>
      <td>34232279</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420018</th>
      <td>11420018</td>
      <td>43019794</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420019</th>
      <td>11420019</td>
      <td>9491382</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420020</th>
      <td>11420020</td>
      <td>56646987</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420021</th>
      <td>11420021</td>
      <td>2382797</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420022</th>
      <td>11420022</td>
      <td>80135113</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420023</th>
      <td>11420023</td>
      <td>56723604</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420024</th>
      <td>11420024</td>
      <td>77888846</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420025</th>
      <td>11420025</td>
      <td>67598382</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420026</th>
      <td>11420026</td>
      <td>60350852</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420027</th>
      <td>11420027</td>
      <td>60142126</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420028</th>
      <td>11420028</td>
      <td>16562764</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420029</th>
      <td>11420029</td>
      <td>71132967</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420030</th>
      <td>11420030</td>
      <td>26696723</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420031</th>
      <td>11420031</td>
      <td>5568914</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420032</th>
      <td>11420032</td>
      <td>23358525</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420033</th>
      <td>11420033</td>
      <td>56878126</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420034</th>
      <td>11420034</td>
      <td>7613183</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420035</th>
      <td>11420035</td>
      <td>44380874</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420036</th>
      <td>11420036</td>
      <td>23288734</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420037</th>
      <td>11420037</td>
      <td>17482116</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11420038</th>
      <td>11420038</td>
      <td>46849102</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>100 rows × 4 columns</p>
</div>

In [58]:
user_feature_embedding_app12 = utils.merge_feature(user_feature_embedding_app, 'appIdInstall', 'appIdAction')

progress: 100%

In [59]:
user_feature_embedding_app12.rename(columns={'appIdInstallappIdAction': 'appId'}, inplace=True)

In [60]:
user_feature_embedding_app12.to_csv('data/user_feature_embedding_app_merged.csv', columns=['uid', 'appId'], index=False)