由于数据量太大，单独建一个Notebook用于处理用户特征

In [1]:
# 数据处理工具
import pandas as pd
import numpy as np
import random as rnd
from collections import Counter
import utils

# 可视化工具
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
user_feature1 = pd.read_csv('data/user_feature1.csv')

In [3]:
user_feature2 = pd.read_csv('data/user_feature2.csv')

In [4]:
user_feature3 = pd.read_csv('data/user_feature3.csv')

In [5]:
user_feature4 = pd.read_csv('data/user_feature4.csv')

In [6]:
user_feature5 = pd.read_csv('data/user_feature5.csv')

In [7]:
user_feature_all = user_feature1.append(user_feature2).append(user_feature3).append(user_feature4).append(user_feature5)

In [2]:
column1 = ['uid', 'age', 'gender', 'marriageStatus', 'education', 'consumptionAbility', 'LBS', 'appIdInstall', 
           'appIdAction', 'ct', 'os', 'carrier', 'house']
column2 = ['interest1', 'interest2', 'interest3', 'interest4', 'interest5']
column3 = ['kw1', 'kw2', 'kw3']
column4 = ['topic1', 'topic2', 'topic3']

In [2]:
column = ['uid', 'age', 'gender', 'marriageStatus', 'education', 'consumptionAbility', 'LBS', 
          'interest1', 'interest2', 'interest3', 'interest4', 'interest5', 
          'kw1', 'kw2', 'kw3', 
          'topic1', 'topic2', 'topic3', 
          'appIdInstall', 'appIdAction', 'ct', 'os', 'carrier', 'house']

In [9]:
user_feature_all.to_csv('data/user_feature_all.csv', columns=column, index=False)

重新读入合并的user data数据

In [3]:
user_feature_all = pd.read_csv('data/user_feature_all.csv')

In [4]:
user_feature_all.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>interest1</th>
      <th>interest2</th>
      <th>interest3</th>
      <th>...</th>
      <th>kw3</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>4</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>950.0</td>
      <td>93-70-77-86-109-47-75-69-45-8-29-49-83-6-46-36...</td>
      <td>46-19-13-29</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>9826-105-8525-5488-7281</td>
      <td>9708-5553-6745-7477-7150</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>2</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>2</td>
      <td>1</td>
      <td>5-13</td>
      <td>2</td>
      <td>1</td>
      <td>803.0</td>
      <td>75-29</td>
      <td>33</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>4391-9140-5669-1348-4388</td>
      <td>9401-7724-1380-8890-7153</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>1</td>
      <td>1</td>
      <td>13-10</td>
      <td>5</td>
      <td>1</td>
      <td>927.0</td>
      <td>70-12-28-106-59-49-41-6-42-115-35-116-36-11-96</td>
      <td>51-22-79-81-70-6-21-4-41-35</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1502-5488-9826-2187-8088</td>
      <td>5005-9154-2756-5612-4209</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>4</td>
      <td>1</td>
      <td>11</td>
      <td>7</td>
      <td>1</td>
      <td>486.0</td>
      <td>93-70-77-47-76-75-69-29-59-49-122-42-46-23-17-...</td>
      <td>24-70-19-13-30-10</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1619-7342-3064-9213-8525</td>
      <td>810-2438-5659-1844-9262</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>5</td>
      <td>1</td>
      <td>11</td>
      <td>6</td>
      <td>2</td>
      <td>112.0</td>
      <td>75-29-49-122-36-11</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>477-9826-5808-644-2747</td>
      <td>5483-2199-5424-1511-7751</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 24 columns</p>
</div>

In [5]:
user_feature_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11420039 entries, 0 to 11420038
Data columns (total 24 columns):
uid                   int64
age                   int64
gender                int64
marriageStatus        object
education             int64
consumptionAbility    int64
LBS                   float64
interest1             object
interest2             object
interest3             object
interest4             object
interest5             object
kw1                   object
kw2                   object
kw3                   object
topic1                object
topic2                object
topic3                object
appIdInstall          object
appIdAction           object
ct                    object
os                    object
carrier               int64
house                 float64
dtypes: float64(2), int64(6), object(16)
memory usage: 2.0+ GB

In [7]:
ages = Counter(user_feature_all['age'])
ages

Counter({0: 5832, 1: 2646609, 2: 2348005, 3: 1322315, 4: 2337992, 5: 2759286})

In [8]:
user_feature_all['age'] = user_feature_all['age'] / user_feature_all['age'].max()
user_feature_all.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>interest1</th>
      <th>interest2</th>
      <th>interest3</th>
      <th>...</th>
      <th>kw3</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>950.0</td>
      <td>93-70-77-86-109-47-75-69-45-8-29-49-83-6-46-36...</td>
      <td>46-19-13-29</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>9826-105-8525-5488-7281</td>
      <td>9708-5553-6745-7477-7150</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>2</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>1</td>
      <td>5-13</td>
      <td>2</td>
      <td>1</td>
      <td>803.0</td>
      <td>75-29</td>
      <td>33</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>4391-9140-5669-1348-4388</td>
      <td>9401-7724-1380-8890-7153</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>1</td>
      <td>13-10</td>
      <td>5</td>
      <td>1</td>
      <td>927.0</td>
      <td>70-12-28-106-59-49-41-6-42-115-35-116-36-11-96</td>
      <td>51-22-79-81-70-6-21-4-41-35</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1502-5488-9826-2187-8088</td>
      <td>5005-9154-2756-5612-4209</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>1</td>
      <td>11</td>
      <td>7</td>
      <td>1</td>
      <td>486.0</td>
      <td>93-70-77-47-76-75-69-29-59-49-122-42-46-23-17-...</td>
      <td>24-70-19-13-30-10</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1619-7342-3064-9213-8525</td>
      <td>810-2438-5659-1844-9262</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>1</td>
      <td>11</td>
      <td>6</td>
      <td>2</td>
      <td>112.0</td>
      <td>75-29-49-122-36-11</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>477-9826-5808-644-2747</td>
      <td>5483-2199-5424-1511-7751</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 24 columns</p>
</div>

In [10]:
genders = Counter(user_feature_all['gender'])
genders

Counter({0: 35594, 1: 7768063, 2: 3616382})

In [11]:
user_feature_all['gender'] = user_feature_all['gender'] / user_feature_all['gender'].max()
user_feature_all.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>interest1</th>
      <th>interest2</th>
      <th>interest3</th>
      <th>...</th>
      <th>kw3</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>950.0</td>
      <td>93-70-77-86-109-47-75-69-45-8-29-49-83-6-46-36...</td>
      <td>46-19-13-29</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>9826-105-8525-5488-7281</td>
      <td>9708-5553-6745-7477-7150</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>2</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>5-13</td>
      <td>2</td>
      <td>1</td>
      <td>803.0</td>
      <td>75-29</td>
      <td>33</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>4391-9140-5669-1348-4388</td>
      <td>9401-7724-1380-8890-7153</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>13-10</td>
      <td>5</td>
      <td>1</td>
      <td>927.0</td>
      <td>70-12-28-106-59-49-41-6-42-115-35-116-36-11-96</td>
      <td>51-22-79-81-70-6-21-4-41-35</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1502-5488-9826-2187-8088</td>
      <td>5005-9154-2756-5612-4209</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>11</td>
      <td>7</td>
      <td>1</td>
      <td>486.0</td>
      <td>93-70-77-47-76-75-69-29-59-49-122-42-46-23-17-...</td>
      <td>24-70-19-13-30-10</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1619-7342-3064-9213-8525</td>
      <td>810-2438-5659-1844-9262</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>11</td>
      <td>6</td>
      <td>2</td>
      <td>112.0</td>
      <td>75-29-49-122-36-11</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>477-9826-5808-644-2747</td>
      <td>5483-2199-5424-1511-7751</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 24 columns</p>
</div>

In [13]:
genders = Counter(user_feature_all['gender'])
genders

Counter({0.0: 35594, 0.5: 7768063, 1.0: 3616382})

In [15]:
education = Counter(user_feature_all['education'])
education

Counter({0: 113486,
         1: 1366418,
         2: 2787696,
         3: 528555,
         4: 125985,
         5: 391070,
         6: 1969266,
         7: 4137563})

In [16]:
user_feature_all['education'] = user_feature_all['education'] / user_feature_all['education'].max()
user_feature_all.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>interest1</th>
      <th>interest2</th>
      <th>interest3</th>
      <th>...</th>
      <th>kw3</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>11</td>
      <td>1.000000</td>
      <td>2</td>
      <td>950.0</td>
      <td>93-70-77-86-109-47-75-69-45-8-29-49-83-6-46-36...</td>
      <td>46-19-13-29</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>9826-105-8525-5488-7281</td>
      <td>9708-5553-6745-7477-7150</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>2</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>5-13</td>
      <td>0.285714</td>
      <td>1</td>
      <td>803.0</td>
      <td>75-29</td>
      <td>33</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>4391-9140-5669-1348-4388</td>
      <td>9401-7724-1380-8890-7153</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>13-10</td>
      <td>0.714286</td>
      <td>1</td>
      <td>927.0</td>
      <td>70-12-28-106-59-49-41-6-42-115-35-116-36-11-96</td>
      <td>51-22-79-81-70-6-21-4-41-35</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1502-5488-9826-2187-8088</td>
      <td>5005-9154-2756-5612-4209</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>11</td>
      <td>1.000000</td>
      <td>1</td>
      <td>486.0</td>
      <td>93-70-77-47-76-75-69-29-59-49-122-42-46-23-17-...</td>
      <td>24-70-19-13-30-10</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1619-7342-3064-9213-8525</td>
      <td>810-2438-5659-1844-9262</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>11</td>
      <td>0.857143</td>
      <td>2</td>
      <td>112.0</td>
      <td>75-29-49-122-36-11</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>477-9826-5808-644-2747</td>
      <td>5483-2199-5424-1511-7751</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 24 columns</p>
</div>

In [18]:
consumptionAbility = Counter(user_feature_all['consumptionAbility'])
consumptionAbility

Counter({0: 2545303, 1: 6800781, 2: 2073955})

In [19]:
user_feature_all['consumptionAbility'] = user_feature_all['consumptionAbility'] / user_feature_all['consumptionAbility'].max()
user_feature_all.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>interest1</th>
      <th>interest2</th>
      <th>interest3</th>
      <th>...</th>
      <th>kw3</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>11</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>950.0</td>
      <td>93-70-77-86-109-47-75-69-45-8-29-49-83-6-46-36...</td>
      <td>46-19-13-29</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>9826-105-8525-5488-7281</td>
      <td>9708-5553-6745-7477-7150</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>2</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>5-13</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>803.0</td>
      <td>75-29</td>
      <td>33</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>4391-9140-5669-1348-4388</td>
      <td>9401-7724-1380-8890-7153</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>13-10</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>927.0</td>
      <td>70-12-28-106-59-49-41-6-42-115-35-116-36-11-96</td>
      <td>51-22-79-81-70-6-21-4-41-35</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1502-5488-9826-2187-8088</td>
      <td>5005-9154-2756-5612-4209</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>11</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>486.0</td>
      <td>93-70-77-47-76-75-69-29-59-49-122-42-46-23-17-...</td>
      <td>24-70-19-13-30-10</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1619-7342-3064-9213-8525</td>
      <td>810-2438-5659-1844-9262</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>11</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>112.0</td>
      <td>75-29-49-122-36-11</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>477-9826-5808-644-2747</td>
      <td>5483-2199-5424-1511-7751</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 24 columns</p>
</div>

In [21]:
consumptionAbility = Counter(user_feature_all['consumptionAbility'])
consumptionAbility

Counter({0.0: 2545303, 0.5: 6800781, 1.0: 2073955})

In [ ]:
user_feature_all['LBS'] = user_feature_all['LBS'].fillna(user_feature_all['LBS'].mean())

In [ ]:
user_feature_all['LBS'] = user_feature_all['LBS'] / user_feature_all['LBS'].max()
user_feature_all.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>interest1</th>
      <th>interest2</th>
      <th>interest3</th>
      <th>...</th>
      <th>kw3</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>11</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>93-70-77-86-109-47-75-69-45-8-29-49-83-6-46-36...</td>
      <td>46-19-13-29</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>9826-105-8525-5488-7281</td>
      <td>9708-5553-6745-7477-7150</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>2</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>5-13</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>75-29</td>
      <td>33</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>4391-9140-5669-1348-4388</td>
      <td>9401-7724-1380-8890-7153</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>13-10</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>70-12-28-106-59-49-41-6-42-115-35-116-36-11-96</td>
      <td>51-22-79-81-70-6-21-4-41-35</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1502-5488-9826-2187-8088</td>
      <td>5005-9154-2756-5612-4209</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>11</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>93-70-77-47-76-75-69-29-59-49-122-42-46-23-17-...</td>
      <td>24-70-19-13-30-10</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1619-7342-3064-9213-8525</td>
      <td>810-2438-5659-1844-9262</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>11</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>75-29-49-122-36-11</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>477-9826-5808-644-2747</td>
      <td>5483-2199-5424-1511-7751</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>3</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 24 columns</p>
</div>

In [24]:
user_feature_all['LBS'].describe()

count    1.142004e+07
mean     4.459327e-01
std      2.856929e-01
min      0.000000e+00
25%      1.925777e-01
50%      4.262788e-01
75%      6.890672e-01
max      1.000000e+00
Name: LBS, dtype: float64

In [26]:
carrier = Counter(user_feature_all['carrier'])
carrier

Counter({0: 3210617, 1: 5460418, 2: 1176651, 3: 1572353})

In [27]:
user_feature_all['carrier'] = user_feature_all['carrier'] / user_feature_all['carrier'].max()
user_feature_all.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>interest1</th>
      <th>interest2</th>
      <th>interest3</th>
      <th>...</th>
      <th>kw3</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>11</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>93-70-77-86-109-47-75-69-45-8-29-49-83-6-46-36...</td>
      <td>46-19-13-29</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>9826-105-8525-5488-7281</td>
      <td>9708-5553-6745-7477-7150</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>2</td>
      <td>0.333333</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>5-13</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>75-29</td>
      <td>33</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>4391-9140-5669-1348-4388</td>
      <td>9401-7724-1380-8890-7153</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>0.333333</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>13-10</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>70-12-28-106-59-49-41-6-42-115-35-116-36-11-96</td>
      <td>51-22-79-81-70-6-21-4-41-35</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1502-5488-9826-2187-8088</td>
      <td>5005-9154-2756-5612-4209</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>1.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>11</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>93-70-77-47-76-75-69-29-59-49-122-42-46-23-17-...</td>
      <td>24-70-19-13-30-10</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1619-7342-3064-9213-8525</td>
      <td>810-2438-5659-1844-9262</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>1.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>11</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>75-29-49-122-36-11</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>477-9826-5808-644-2747</td>
      <td>5483-2199-5424-1511-7751</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>1.000000</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 24 columns</p>
</div>

In [29]:
carrier = Counter(user_feature_all['carrier'])
carrier

Counter({0.0: 3210617,
         0.3333333333333333: 5460418,
         0.6666666666666666: 1176651,
         1.0: 1572353})

In [30]:
house = user_feature_all['house'].fillna('0')
Counter(house)

Counter({'0': 9330110, 1.0: 2089929})

In [31]:
user_feature_all['house'] = user_feature_all['house'].fillna('0')
user_feature_all.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>interest1</th>
      <th>interest2</th>
      <th>interest3</th>
      <th>...</th>
      <th>kw3</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>11</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>93-70-77-86-109-47-75-69-45-8-29-49-83-6-46-36...</td>
      <td>46-19-13-29</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>9826-105-8525-5488-7281</td>
      <td>9708-5553-6745-7477-7150</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>2</td>
      <td>0.333333</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>5-13</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>75-29</td>
      <td>33</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>4391-9140-5669-1348-4388</td>
      <td>9401-7724-1380-8890-7153</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>0.333333</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>13-10</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>70-12-28-106-59-49-41-6-42-115-35-116-36-11-96</td>
      <td>51-22-79-81-70-6-21-4-41-35</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1502-5488-9826-2187-8088</td>
      <td>5005-9154-2756-5612-4209</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>11</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>93-70-77-47-76-75-69-29-59-49-122-42-46-23-17-...</td>
      <td>24-70-19-13-30-10</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1619-7342-3064-9213-8525</td>
      <td>810-2438-5659-1844-9262</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>1.000000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>11</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>75-29-49-122-36-11</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>477-9826-5808-644-2747</td>
      <td>5483-2199-5424-1511-7751</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 24 columns</p>
</div>

In [32]:
user_feature_all.to_csv('data/user_feature_all_stage1.csv', columns=column, index=False)

Checkpoint1

In [2]:
user_feature_all = pd.read_csv('data/user_feature_all_stage1.csv')
user_feature_all.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>interest1</th>
      <th>interest2</th>
      <th>interest3</th>
      <th>...</th>
      <th>kw3</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>11</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>93-70-77-86-109-47-75-69-45-8-29-49-83-6-46-36...</td>
      <td>46-19-13-29</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>9826-105-8525-5488-7281</td>
      <td>9708-5553-6745-7477-7150</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>2</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>5-13</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>75-29</td>
      <td>33</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>4391-9140-5669-1348-4388</td>
      <td>9401-7724-1380-8890-7153</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>13-10</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>70-12-28-106-59-49-41-6-42-115-35-116-36-11-96</td>
      <td>51-22-79-81-70-6-21-4-41-35</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1502-5488-9826-2187-8088</td>
      <td>5005-9154-2756-5612-4209</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>11</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>93-70-77-47-76-75-69-29-59-49-122-42-46-23-17-...</td>
      <td>24-70-19-13-30-10</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>1619-7342-3064-9213-8525</td>
      <td>810-2438-5659-1844-9262</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>11</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>75-29-49-122-36-11</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>477-9826-5808-644-2747</td>
      <td>5483-2199-5424-1511-7751</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 24 columns</p>
</div>

将数据切分成base和embedding，base即基础特征，直接送入神经网络，embedding比较复杂，需要用到自然语言处理中的word2cev，再送入神经网络

In [8]:
column_base = ['uid', 'age', 'gender', 'marriageStatus', 'education', 'consumptionAbility',
               'LBS', 'ct', 'os', 'carrier', 'house']
column_embedding = ['interest1', 'interest2', 'interest3', 'interest4', 'interest5',
                    'kw1', 'kw2', 'kw3',
                    'topic1', 'topic2', 'topic3',
                    'appIdInstall', 'appIdAction']

In [5]:
user_feature_all[column_base].to_csv('data/user_feature_base.csv', columns=column_base, index=False)

In [6]:
user_feature_all[column_embedding].to_csv('data/user_feature_embedding.csv', columns=column_embedding, index=False)

Checkpoint2: 加载base，进一步处理

In [36]:
user_feature_base = pd.read_csv('data/user_feature_base.csv')
user_feature_base.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>11</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>3-1</td>
      <td>2</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>5-13</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>3-1</td>
      <td>1</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>13-10</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>3-1</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>11</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>11</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
Counter(user_feature_base['marriageStatus'])

Counter({'0': 777224,
         '10': 4262449,
         '11': 3621989,
         '12-13': 189100,
         '12-13-10': 103,
         '12-13-9': 8841,
         '13': 333334,
         '13-10': 1397672,
         '13-10-9': 4,
         '13-15': 72971,
         '13-15-10': 3,
         '13-9': 102224,
         '14': 207,
         '15': 269446,
         '15-10': 20,
         '2-13': 105230,
         '2-13-10': 1,
         '2-13-9': 6341,
         '3': 179,
         '5-13': 85440,
         '5-13-10': 6,
         '5-13-9': 3366,
         '6-13': 167577,
         '6-13-10': 5,
         '6-13-9': 16303,
         '8': 3,
         nan: 1})

In [24]:
import utils

In [50]:
status = set()
for e in user_feature_base['ct'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [39]:
word_to_int = utils.create_lookup_tables(status)
word_to_int

{0: 0,
 2: 1,
 3: 2,
 5: 3,
 6: 4,
 8: 5,
 9: 6,
 10: 7,
 11: 8,
 12: 9,
 13: 10,
 14: 11,
 15: 12}

In [40]:
u1 = user_feature_base.copy()


def convert_marriage(x):
    if x == 'NaN':
        return 0
    elif x.isdigit():
        return 1 << word_to_int[int(x)]
    else:
        res = 0
        for e in x.split('-'):
            res += (1 << word_to_int[int(e)])
        return res
    
    
u1 = u1['marriageStatus'].fillna('NaN').map(convert_marriage)
u1.head()

0     256
1    1032
2    1152
3     256
4     256
Name: marriageStatus, dtype: int64

In [19]:
Counter(u1)

Counter({0: 1,
         1: 777224,
         4: 179,
         32: 3,
         128: 4262449,
         256: 3621989,
         1024: 333334,
         1026: 105230,
         1032: 85440,
         1040: 167577,
         1088: 102224,
         1090: 6341,
         1096: 3366,
         1104: 16303,
         1152: 1397672,
         1154: 1,
         1160: 6,
         1168: 5,
         1216: 4,
         1536: 189100,
         1600: 8841,
         1664: 103,
         2048: 207,
         4096: 269446,
         4224: 20,
         5120: 72971,
         5248: 3})

In [42]:
# u1 = u1['marriageStatus'].fillna('NaN').map(convert_marriage)
# u1.head()
u2 = user_feature_base['marriageStatus'].fillna('NaN').map(convert_marriage)

In [45]:
user_feature_base['marriageStatus'] = u2
user_feature_base.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>256</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>3-1</td>
      <td>2</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>1032</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>3-1</td>
      <td>1</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>1152</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>3-1</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>256</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>256</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [46]:
user_feature_base['marriageStatus'] = user_feature_base['marriageStatus'] / user_feature_base['marriageStatus'].max()
user_feature_base.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>3-1</td>
      <td>2</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>0.196646</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>3-1</td>
      <td>1</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>3-1</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>1-3</td>
      <td>1-2</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>3-1-4-2</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [48]:
Counter(user_feature_base['ct'])

Counter({'0': 1409058,
         '1': 202021,
         '1-2': 14400,
         '1-2-3': 106190,
         '1-2-3-4': 17455,
         '1-2-4': 1364,
         '1-2-4-3': 5817,
         '1-3': 2613262,
         '1-3-2': 232797,
         '1-3-2-4': 23054,
         '1-3-4': 264723,
         '1-3-4-2': 23649,
         '1-4': 14933,
         '1-4-2': 1324,
         '1-4-2-3': 5985,
         '1-4-3': 119853,
         '1-4-3-2': 17508,
         '2': 5095,
         '2-1': 4761,
         '2-1-3': 32585,
         '2-1-3-4': 3821,
         '2-1-4': 564,
         '2-1-4-3': 1765,
         '2-3': 23305,
         '2-3-1': 33759,
         '2-3-1-4': 3995,
         '2-3-4': 2732,
         '2-3-4-1': 2056,
         '2-4': 304,
         '2-4-1': 251,
         '2-4-1-3': 1909,
         '2-4-3': 1153,
         '2-4-3-1': 1908,
         '3': 1637616,
         '3-1': 3237432,
         '3-1-2': 289263,
         '3-1-2-4': 29320,
         '3-1-4': 328721,
         '3-1-4-2': 29654,
         '3-2': 89645,
         '3-2-1': 139831,
         '3-2-1-4': 22169,
         '3-2-4': 8614,
         '3-2-4-1': 8143,
         '3-4': 81121,
         '3-4-1': 156837,
         '3-4-1-2': 22249,
         '3-4-2': 8524,
         '3-4-2-1': 8472,
         '4': 4762,
         '4-1': 4979,
         '4-1-2': 592,
         '4-1-2-3': 1845,
         '4-1-3': 38047,
         '4-1-3-2': 3936,
         '4-2': 305,
         '4-2-1': 243,
         '4-2-1-3': 2070,
         '4-2-3': 1231,
         '4-2-3-1': 2002,
         '4-3': 20626,
         '4-3-1': 39604,
         '4-3-1-2': 4066,
         '4-3-2': 2705,
         '4-3-2-1': 2059})

In [51]:
def convert_ct(x):
    if x.isdigit():
        return 1 << int(x)
    else:
        res = 0
        for e in x.split('-'):
            res += (1 << int(e))
        return res

In [52]:
u3 = user_feature_base['ct'].map(convert_ct)

In [53]:
user_feature_base['ct'] = u3
user_feature_base.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>10</td>
      <td>2</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>0.196646</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>10</td>
      <td>1</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>10</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>10</td>
      <td>1-2</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>30</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [55]:
Counter(user_feature_base['ct'])

Counter({1: 1409058,
         2: 202021,
         4: 5095,
         6: 19161,
         8: 1637616,
         10: 5850694,
         12: 112950,
         14: 834425,
         16: 4762,
         18: 19912,
         20: 609,
         22: 4338,
         24: 101747,
         26: 947785,
         28: 24959,
         30: 244907})

In [56]:
user_feature_base['ct'] = user_feature_base['ct'] / user_feature_base['ct'].max()
user_feature_base.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>0.333333</td>
      <td>2</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>0.196646</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>0.333333</td>
      <td>1</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>0.333333</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>0.333333</td>
      <td>1-2</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>1.000000</td>
      <td>1</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [58]:
Counter(user_feature_base['os'])

Counter({'0': 1446825,
         '1': 6713370,
         '1-2': 626623,
         '2': 2381336,
         '2-1': 251885})

In [59]:
def convert_os(x):
    if x.isdigit():
        return 1 << int(x)
    else:
        res = 0
        for e in x.split('-'):
            res += (1 << int(e))
        return res

In [61]:
u4 = user_feature_base['os'].map(convert_os)

In [62]:
user_feature_base['os'] = u4
user_feature_base.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>0.333333</td>
      <td>4</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>0.196646</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>0.333333</td>
      <td>2</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>0.333333</td>
      <td>2</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>0.333333</td>
      <td>6</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>1.000000</td>
      <td>2</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [64]:
Counter(user_feature_base['os'])

Counter({1: 1446825, 2: 6713370, 4: 2381336, 6: 878508})

In [65]:
user_feature_base['os'] = user_feature_base['os'] / user_feature_base['os'].max()
user_feature_base.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>0.333333</td>
      <td>0.666667</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>0.196646</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>0.333333</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>1.000000</td>
      <td>0.333333</td>
      <td>1.000000</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [48]:
status = set()
for e in user_feature_all['interest1'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    122.000000
mean      61.500000
std       35.362409
min        1.000000
25%       31.250000
50%       61.500000
75%       91.750000
max      122.000000
dtype: float64

In [50]:
status = set()
for e in user_feature_all['interest2'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    80.00000
mean     41.15000
std      23.76419
min       1.00000
25%      20.75000
50%      41.50000
75%      61.25000
max      82.00000
dtype: float64

In [52]:
status = set()
for e in user_feature_all['interest3'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

In [56]:
status = set()
for e in user_feature_all['interest4'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

In [58]:
status = set()
for e in user_feature_all['interest5'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    136.000000
mean      68.500000
std       39.403892
min        1.000000
25%       34.750000
50%       68.500000
75%      102.250000
max      136.000000
dtype: float64

In [60]:
status = set()
for e in user_feature_all['kw1'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    263310.000000
mean     398349.489097
std      230075.941476
min           2.000000
25%      198825.250000
50%      397970.000000
75%      597777.750000
max      796741.000000
dtype: float64

In [62]:
status = set()
for e in user_feature_all['kw2'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count     49778.000000
mean      60914.612881
std       35178.111231
min           2.000000
25%       30537.500000
50%       60829.000000
75%       91284.750000
max      121958.000000
dtype: float64

In [64]:
status = set()
for e in user_feature_all['kw3'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    12104.000000
mean     29241.504048
std      16980.509151
min          1.000000
25%      14650.750000
50%      29103.500000
75%      43810.250000
max      58782.000000
dtype: float64

In [66]:
status = set()
for e in user_feature_all['topic1'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    10000.00000
mean      4999.50000
std       2886.89568
min          0.00000
25%       2499.75000
50%       4999.50000
75%       7499.25000
max       9999.00000
dtype: float64

In [68]:
status = set()
for e in user_feature_all['topic2'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    9982.000000
mean     5000.646263
std      2886.463907
min         0.000000
25%      2502.250000
50%      4999.500000
75%      7500.750000
max      9999.000000
dtype: float64

In [70]:
status = set()
for e in user_feature_all['topic3'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    5920.000000
mean     4750.147973
std      2743.805211
min         1.000000
25%      2365.750000
50%      4742.500000
75%      7150.250000
max      9463.000000
dtype: float64

In [74]:
status = set()
for e in user_feature_all['appIdInstall'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    64858.000000
mean     32433.591662
std      18726.470118
min          1.000000
25%      16216.250000
50%      32433.500000
75%      48650.750000
max      64869.000000
dtype: float64

In [78]:
status = set()
for e in user_feature_all['appIdAction'].dropna():
    if e.isdigit():
        status.add(int(e))
    else:
        for ee in e.split('-'):
            status.add(int(ee))
s = pd.Series(sorted(status))
s.describe()

count    6215.000000
mean     3108.941593
std      1794.991269
min         1.000000
25%      1554.500000
50%      3109.000000
75%      4663.500000
max      6217.000000
dtype: float64